<a href="https://colab.research.google.com/github/JunsooJung/Python25Study/blob/main/2025_10_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if 문

In [1]:
math = 90
eng = 88
kor = 92
avg = (math + eng + kor) / 3
if avg >= 90:
    print("A")
elif avg >= 80:
    print("B")
elif avg >= 70:
    print("C")
else:
    print("F")

A

In [3]:
import random

distance = random.randint(1,15)

if distance >= 10:
  print("run")
else:
  print("walk")

walk

In [7]:
if random.randint(1,15) == 7:
  print("Jackpot")
else:
  print("fail")

fail

In [8]:
if random.randint(0,6) + random.randint(0,6) == 7:
  print("Jackpot")
else:
  print("fail")

fail

#While문

In [13]:
import random

tiredness = 0
fatigue = 0
willpower = 100

work = 0

while tiredness < 50 and fatigue < 50:
  tiredness += random.randint(0,5)
  fatigue += random.randint(0,5)
  willpower -= random.randint(0,5)
  work += random.randint(0,5)

  if willpower >= 50 and random.randint(1,10)>=8:
    print("Booster!")
    willpower-=random.randint(0,8)
    work += random.randint(0,15)
  if random.randint(1,99) == (6 or 66):
    print("ZONE OUT!")
    break

  print("Current Status = Tiredness : "+ str(tiredness) +", Fatigue :"+str(fatigue)+", Will power : "+str(willpower) + ", Work process :"+ str(work))

Current Status = Tiredness : 5, Fatigue :3, Will power : 99, Work process :0
Current Status = Tiredness : 8, Fatigue :7, Will power : 98, Work process :1
Current Status = Tiredness : 12, Fatigue :10, Will power : 96, Work process :1
Current Status = Tiredness : 12, Fatigue :14, Will power : 96, Work process :4
Current Status = Tiredness : 17, Fatigue :15, Will power : 95, Work process :6
Booster!
Current Status = Tiredness : 17, Fatigue :19, Will power : 88, Work process :10
Booster!
Current Status = Tiredness : 18, Fatigue :21, Will power : 85, Work process :24
Current Status = Tiredness : 21, Fatigue :21, Will power : 80, Work process :25
Current Status = Tiredness : 21, Fatigue :25, Will power : 79, Work process :26
Booster!
Current Status = Tiredness : 26, Fatigue :27, Will power : 71, Work process :40
Booster!
Current Status = Tiredness : 28, Fatigue :31, Will power : 58, Work process :46
Current Status = Tiredness : 33, Fatigue :31, Will power : 55, Work process :50
Current Status = Tiredness : 34, Fatigue :32, Will power : 52, Work process :55
Current Status = Tiredness : 34, Fatigue :36, Will power : 48, Work process :59
Current Status = Tiredness : 38, Fatigue :41, Will power : 46, Work process :59
Current Status = Tiredness : 40, Fatigue :41, Will power : 44, Work process :59
Current Status = Tiredness : 41, Fatigue :42, Will power : 41, Work process :63
Current Status = Tiredness : 42, Fatigue :45, Will power : 38, Work process :68
Current Status = Tiredness : 44, Fatigue :49, Will power : 34, Work process :69
Current Status = Tiredness : 44, Fatigue :50, Will power : 29, Work process :71

#for문

In [15]:
for i in range(30):
  print("면접수당신청")
  a = random.randint(0,i)
  if a >= 10:
    print("최대한도 도달")
    break;

면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
면접수당신청
최대한도 도달

In [3]:
3 + None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

#함수

In [4]:
import pandas as pd

def db_load(loc):
  df = pd.read_csv(loc)
  return df

db_load("countries.csv")

,Unnamed: 0,country_id,name,area,national_day,country_code2,country_code3,region_id
0,0,1,Aruba,193.0,NaN,AW,ABW,1
1,1,2,Afghanistan,652090.0,1919-08-19,AF,AFG,2
2,2,3,Angola,1246700.0,1975-11-11,AO,AGO,3
3,3,4,Anguilla,96.0,1967-05-30,AI,AIA,1
4,4,5,Albania,28748.0,1912-11-28,AL,ALB,4
...,...,...,...,...,...,...,...,...
234,234,235,Yemen,527968.0,1967-11-30,YE,YEM,5
235,235,236,Yugoslavia,102173.0,NaN,YU,YUG,4
236,236,237,South Africa,1221037.0,1931-12-11,ZA,ZAF,17
237,237,238,Zambia,752618.0,1964-10-24,ZM,ZMB,11
238,238,239,Zimbabwe,390757.0,1980-04-18,ZW,ZWE,11

In [8]:
from datetime import datetime
def time():
  return print(datetime.now())

time()

2025-10-31 05:41:14.467774

In [12]:
def asdf(*a):
  idk=[]
  for i in a:
    idk.append(i)
  return idk

asdf(1,2,3,4)

[1, 2, 3, 4]

In [13]:
def qwer(**k):
  return k

qwer(a=1, b=2,c=3,d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#입력

In [14]:
q = input("too sleepy? (y/n)")
q

too sleepy? (y/n)y

'y'

In [17]:
if q =='y' or'Y':
  print("go to bed.")
elif q=='n' or 'N':
  print("Whatever")
else:
  print("just answer my question")

go to bed.

#파일

In [22]:
f = open("test.txt",'w')
f.write("increased file size.")
f.close()

In [23]:
f2 = open("countries.csv",'w')
f2.write("increased file size.")
f2.close